{
  "root": true,
  "extends": ["@nuxtjs/eslint-config-typescript", "plugin:tailwindcss/recommended"],
  "overrides": [
    {
      "files": ["./server/**/*.ts"],
      "rules": {
        "no-console": ["error", { "allow": ["info", "warn", "trace", "error"] }]
      }
    }
  ]
}
